<%- include('./includes/head.ejs') -%>
    <title>Notes</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/notes.css">
</head>
<body>
    <%- include('./includes/nav') -%>
    <div class="searchdiv">
        <input name="title" class="searchbar" type="search" placeholder="Enter Your Topic Name To Search It's Notes">
    </div>

    <div class="topics">
        <ul class="ul">
            <!-- <li><a href="">My first Title</a></li> -->
        </ul>
    </div>

<script src="/js/notes.js"></script>
</body>

</html>